SERVICE_NAME=registry
VERSION={{VERSION}}
HOST={{HOST}}
MONGO_CLIENT={{MONGO_CLIENT}}
CLIENT_DB=registry
DB_COLLECTION=services
PORT={{PORT}}
PORT_LIMIT_TOP={{PORT_LIMIT_TOP}}
PORT_LIMIT_BOTTOM={{PORT_LIMIT_BOTTOM}}
BUFFERSIZE={{BUFFERSIZE}}
